##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %> >
	ServerAdmin debian-admin@debian.org
	ServerName debug.mirrors.debian.org
	<% if scope.function_onion_global_service_hostname(['debug.mirrors.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['debug.mirrors.debian.org']) %>
	<% end %>
	ServerAlias debug.backend.mirrors.debian.org
	ServerAlias *.debug.backend.mirrors.debian.org

	RedirectMatch "^/$" /debian-debug/
	Alias /debian-debug <%= @archive_root %>
	Alias /_health /run/dsa-mirror-health-debug/health
	<Directory /run/dsa-mirror-health-debug/>
		Require all granted
	</Directory>

	ErrorLog /var/log/apache2/debug.mirrors.debian.org-error.log
	CustomLog /var/log/apache2/debug.mirrors.debian.org-access.log privacy

	Use ftp-archive <%= @archive_root %>

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>
# vim:set syn=apache:
