##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %> >
	ServerAdmin debian-admin@debian.org
	ServerName ftp.ports.debian.org
	<% if scope.function_onion_global_service_hostname(['ftp.ports.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['ftp.ports.debian.org']) %>
	<% end %>

	ErrorLog /var/log/apache2/ftp.ports.debian.org-error.log
	CustomLog /var/log/apache2/ftp.ports.debian.org-access.log privacy

	RedirectMatch "^/$" /debian-ports/

	Alias /debian-ports <%= @archive_root %>
	Use ftp-archive <%= @archive_root %>

	RedirectMatch "^/debian-ports-cd/.*$" https://cdimage.debian.org/cdimage/ports/

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>
# vim:set syn=apache:
