##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<%=
nodeinfo = scope.lookupvar('site::nodeinfo')
out = []

restricted_purposes = ['kvm host', 'central syslog server', 'puppet master', 'jumphost', 'buildd', 'static-mirror', 'anycast mirror']
restrict_ssh = %w{tchaikovsky draghi adayevskaya}

if (nodeinfo['ldap'].has_key?('purpose')) then
	nodeinfo['ldap']['purpose'].each do |purp|
		if restricted_purposes.include?(purp) then
			restrict_ssh << @hostname
		end
	end
end

ssh4allowed = []
ssh6allowed = []

should_restrict = restrict_ssh.include?(@hostname)
%w{dns_primary dns_geo}.each do |role_restrict|
	if scope.function_has_role([role_restrict]) then
		should_restrict = true
	end
end


if restrict_ssh.include?(@hostname) then
	ssh4allowed << %w{$DSA_IPS    $HOST_NAGIOS_V4 $HOST_MUNIN_V4 $HOST_DB_V4}
	ssh6allowed << %w{$DSA_V6_IPS $HOST_NAGIOS_V6 $HOST_MUNIN_V6 $HOST_DB_V6}

	if %w{draghi}.include?(@hostname) then
		ssh4allowed << '$HOST_DEBIAN_V4'
		ssh6allowed << '$HOST_DEBIAN_V6'
	end

	if %w{adayevskaya}.include?(@hostname) then
                out << '@def $MFL_LOCAL = ( 130.83.226.60 );' # Michael Fladerer
                ssh4allowed << '$MFL_LOCAL'
		ssh4allowed << %w{$HOST_DEBIAN_V4}
		ssh6allowed << %w{$HOST_DEBIAN_V6}
	end
	if scope.function_has_role(['puppetmaster']) then
		ssh4allowed << "5.153.231.5" # adayevskaya
		ssh6allowed << "2001:41c8:1000:21::21:5" # adayevskaya
	end
	if scope.function_has_role(['dns_primary']) then
		ssh4allowed << "5.153.231.5" # adayevskaya
		ssh6allowed << "2001:41c8:1000:21::21:5" # adayevskaya
		#ssh4allowed << "$HOST_DNS_GEO_V4"
		#ssh6allowed << "$HOST_DNS_GEO_V6"
	end

	if scope.function_has_role(['static_master']) then
		ssh4allowed << '$HOST_STATIC_V4'
		ssh6allowed << '$HOST_STATIC_V6'
	elsif scope.function_has_role(['static_source']) or
	      scope.function_has_role(['static_mirror']) then
		ssh4allowed << '$HOST_STATICMASTER_V4'
		ssh6allowed << '$HOST_STATICMASTER_V6'
	end
	if scope.function_has_role(['debian_mirror']) or
	   scope.function_has_role(['security_mirror']) or
	   scope.function_has_role(['debug_mirror']) or
	   scope.function_has_role(['historical_mirror']) or
	   scope.function_has_role(['syncproxy']) then
		ssh4allowed << '$HOST_MIRRORMASTER_V4'
		ssh6allowed << '$HOST_MIRRORMASTER_V6'
	end
	if scope.function_has_role(['debian_mirror']) or
	   scope.function_has_role(['syncproxy']) then
		ssh4allowed << '$HOST_SYNCPROXY_V4'
		ssh6allowed << '$HOST_SYNCPROXY_V6'
	end
	if scope.function_has_role(['security_mirror']) or
	   scope.function_has_role(['syncproxy']) then
		ssh4allowed << '$HOST_SECMASTER_V4'
		ssh6allowed << '$HOST_SECMASTER_V6'
	end
	if scope.function_has_role(['historical_mirror']) then
		ssh4allowed << '$HOST_ARCHIVEMASTER_V4'
		ssh6allowed << '$HOST_ARCHIVEMASTER_V6'
	end
	if scope.function_has_role(['syncproxy']) then
		ssh4allowed << '$HOST_FTPMASTER_V4'
		ssh6allowed << '$HOST_FTPMASTER_V6'
		ssh4allowed << '$HOST_PORTSMASTER_V4'
		ssh6allowed << '$HOST_PORTSMASTER_V6'
	end
	if scope.function_has_role(['debug_mirror']) then
		ssh4allowed << '$HOST_FTPMASTER_V4'
		ssh6allowed << '$HOST_FTPMASTER_V6'
	end
end
ssh4allowed.length == 0 and ssh4allowed << '0.0.0.0/0'
ssh6allowed.length == 0 and ssh6allowed << '::/0'

out << "@def $SSH_SOURCES    = ( $SSH_SOURCES    #{ssh4allowed.join(' ')});"
out << "@def $SSH_V6_SOURCES = ( $SSH_V6_SOURCES #{ssh6allowed.join(' ')});"




smtp4allowed = []
smtp6allowed = []

if not nodeinfo['smarthost'].empty?
  smtp4allowed << %w{$HOST_MAILRELAY_V4 $HOST_NAGIOS_V4}
  smtp6allowed << %w{$HOST_MAILRELAY_V6 $HOST_NAGIOS_V6}
end

smtp4allowed.length == 0 and smtp4allowed << '0.0.0.0/0'
smtp6allowed.length == 0 and smtp6allowed << '::/0'

out << "@def $SMTP_SOURCES    = (#{smtp4allowed.join(' ')});"
out << "@def $SMTP_V6_SOURCES = (#{smtp6allowed.join(' ')});"

out.join("\n")
%>
