<%=
vdoms = case @fqdn

        when "buxtehude.debian.org" then "bugs.debian.org: user=debbugs group=debbugs directory=/srv/bugs.debian.org/mail"

        when "draghi.debian.org" then "db.debian.org: user=mail_db group=nogroup directory=/srv/db.debian.org/mail"

        when "wuiet.debian.org" then "buildd.debian.org: user=wbadm group=wbadm directory=/srv/buildd.debian.org/mail"

        when "nono.debian.org" then "nm.debian.org: user=nm group=nm directory=/srv/nm.debian.org/mail/"

	when "picconi.debian.org" then "packages.debian.org: user=pkg_user group=Debian directory=/srv/packages.debian.org/mail/"

        when "pinel.debian.org" then "popcon.debian.org: user=popcon group=popcon directory=/srv/popcon.debian.org/mail/"

        when "quantz.debian.org" then "qa.debian.org: user=qa group=qa directory=/srv/qa.debian.org/mail/
packages.qa.debian.org: user=qa group=qa directory=/srv/packages.qa.debian.org/mail"

	when "reger.debian.org" then "rt.debian.org: user=rt group=rt directory=/srv/rt.debian.org/mail"

	when "ticharich.debian.org" then "tracker.debian.org: user=qa group=qa directory=/srv/tracker.debian.org/mail"

        when "tye.debian.org" then "i18n.debian.org: user=debian-i18n group=debian-i18n directory=/srv/i18n.debian.org/mail"

	when "vento.debian.org" then "vote.debian.org: user=secretary group=debvote directory=/srv/vote.debian.org/mail/"

        when "wolkenstein.debian.org" then "www-master.debian.org: user=debwww group=debwww directory=/srv/www.debian.org/mail/"
end
vdoms
%>
<% if classes.include?("roles::mailrelay") -%>
debian.org: user=nobody group=Debian directory=/etc/exim4/email-virtualdomains/debian.org
admin.debian.org: user=mail_admin group=mail_admin directory=/etc/exim4/email-virtualdomains/admin.debian.org
ftp-master.debian.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/ftp-master.debian.org
security.debian.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/security.debian.org
women.debian.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/women.debian.org
release.debian.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/release.debian.org
ports-master.debian.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/ports-master.debian.org

debian-ports.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian-ports.org

debconf.org: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debconf.org

debian.com: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.net: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.gr: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.us: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.es: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.eu: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.nl: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
debian.org.tw: user=nobody group=nogroup directory=/etc/exim4/email-virtualdomains/debian.star
<% end -%>
